# fly.toml - Fly.io configuration for Jutilis Technologies
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = 'jutilis'
primary_region = 'dfw'
kill_signal = 'SIGTERM'

[build]

[deploy]
  release_command = '/app/bin/migrate'

[env]
  PHX_HOST = 'jutilistechnologies.com'
  PORT = '8080'
  PHX_SERVER = 'true'
  ECTO_IPV6 = 'true'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 1000

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
