<Layouts.app flash={@flash} current_scope={@current_scope}>
  <div class="mx-auto max-w-sm text-center">
    <.header>
      Registration Disabled
      <:subtitle>
        Registration is not available. Please
        <.link navigate={~p"/users/log-in"} class="font-semibold text-brand hover:underline">
          log in
        </.link>
        if you have an account.
      </:subtitle>
    </.header>
  </div>
</Layouts.app>
